@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'PT Sans', sans-serif;
  color: #010101 !important;
}

body{
  scroll-behavior: smooth;
}

/*============================================
Header Section
==============================================*/

.header{
  background-color: #fcdb00;
}

.menu ul li a{
  font-weight: 700;
  font-size: 22px;
}

/*============================================
Slider Section
==============================================*/

.slider {
  background-color: #fcdb00;
  padding: 50px 0 100px 0;
}

.slider-content h1{
  font-weight: bold;
}

.slider-content ul li i{
  font-size:40px;
}

.custom-indicators {
  margin-bottom: -70px;
}

.custom-indicators button {
  width: 15px !important;
  height: 15px !important;
  border-radius: 50%; 
}

/*============================================
Feature Section
==============================================*/

.section-title h1{
  font-size: 32px;
  font-weight: bold;
}

.section-title p{
  font-size: 20px;
}

.feature-icon i{
  font-size: 50px;
}

.feature-content h2{
  font-size: 22px;
}


/*============================================
Contact Section
==============================================*/


.contact{
  padding: 50px 0;
  background-color: #010101;
}

.contact .section-title h1{
  color: #fcdb00 !important;
}

.contact .section-title p{
  color: #898989 !important;
}


.email-subscribe input.form-control:focus {
  border-color: #fcdb00;
  box-shadow: 0 0 0 .25rem rgba(252, 219, 0, .50);
}


.email-subscribe button{
  background-color: #fcdb00;
  text-transform: uppercase;
  font-weight: bold;
}


.social-link a{
  padding: 0 !important;
  margin: 0 20px;
}

.social-link a i{
  color: #fcdb00 !important;
  font-size: 40px;
}










