@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'PT Sans', sans-serif;
  color: #010101 !important;
}

body{
  scroll-behavior: smooth;
}

/*============================================
Header Section
==============================================*/

.header{
  background-color: #fcdb00;
}

.menu ul li a{
  font-weight: 700;
  font-size: 22px;
}

/*============================================
Slider Section
==============================================*/

.slider {
  background-color: #fcdb00;
  padding: 50px 0 100px 0;
}

.slider-content h1{
  font-weight: bold;
}

.slider-content ul li i{
  font-size:40px;
}

.custom-indicators {
  margin-bottom: -70px;
}

.custom-indicators button {
  width: 15px !important;
  height: 15px !important;
  border-radius: 50%; 
}







